.Button {
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 11pt;
    background: rgb(223, 200, 71);

    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(223, 200, 71);
        transition: 0.2s;
    }
}