@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #E6E6E6;
    font-family: 'Montserrat', sans-serif;
}