.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
    z-index: 10;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.modal__content {
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    transform: scale(0);
    transition: 0.5s;
    text-align: center;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.active {
        transform: scale(1);
    }
}