.Input__main {
    .Input {
        border: 1px solid black;
        font-size: 15pt;
        margin: 10px;
        border-radius: 5px;
        padding: 10px;
        background: transparent;
        color: black;
    }
}